{
  "presets": [["next/babel"]],
  "plugins": [
    ["inline-react-svg"],
    [
      "prismjs",
      {
        "languages": [
          "typescript",
          "javascript",
          "python",
          "java",
          "bash",
          "docker",
          "yaml",
          "markdown",
          "jsx",
          "tsx",
          "sql",
          "json",
          "xml",
          "css",
          "markup"
        ],
        "plugins": ["line-numbers"],
        "css": false
      }
    ]
  ]
}
