@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'prismjs/themes/prism-tomorrow.css';

@font-face {
  font-family: IBMPlexSans;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: IBMPlexSansBold;
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 27px;

  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tooltip .tooltip-text {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 0.75;
}
